@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&display=swap');

$mainColor: rgb(21, 23, 70);
$mainFont: 'Karla';

// -- text properties
$textTopMargin: 75px;


*{
    box-sizing: border-box;
    font-family: $mainFont, sans-serif;
    max-width: 100%;
}

span{
    display: block;
}

img{
    max-width: 100%;
}

html{
    background-color: #02112D;
    color: white;
}

body{
    margin: 0;
}

div.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    font-size: 12px;

    & img{
        width: 62px;
    }
}

a{
    text-decoration: none;

    &:visited{
        color: unset;
    }
}




header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 137px;
    color: white;
    background: linear-gradient(180deg, rgba(6, 7, 20, 0.72) 0%, rgba(21, 23, 70, 0) 112.5%);
    align-items: center;
    z-index: 2;
    position: relative;

    margin: 0;

    > *{
        margin: 0;
        padding: 0;
    }

    nav{
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
            font-family: 'Karla';
        }
    }
}

button.buttonDefault{
    display: block;

    background: rgba(0, 0, 0, 0.49);
    border: 1px solid rgba(236, 229, 240, 0.33);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;

    color: #CCCCCC;
    $paddingTB: 8px;
    $paddingLR: 15px;

    padding: $paddingTB $paddingLR;
    $transition: 0.3s;
    transition: all $transition;

    &:hover{
        color: #eaeaea;
        background: rgba(0, 0, 0, 0.80);
        transition: all ($transition - 0.125);
        cursor: pointer;
        padding: ($paddingTB + 2) ($paddingLR + 2);
    }
}


.mark{
    height: 51.32px;

    $transition: all 0.2s;
    transition: $transition;

    &:hover{
        transform: scale(1.2);
        transition: $transition;
        
    }
}

.flex{
    display: flex;

    &.column{
        flex-direction: column;
    }
}

.titleDefault{
    text-align: center;
    font-size: 58px;
    // margin-top: -27px;
    position: relative;

    &::before{
        width: 100%;
        z-index: -1;
        display: block;
        content: '';
        height: 34px;
        position: absolute;
        background: radial-gradient(50% 50% at 50% 50%, rgba(26, 82, 166, 0.76) 0%, rgba(109, 7, 81, 0) 100%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}


/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
//////////                      /////////////
/////////    ESTILOS GERAIS     /////////////
//////////                      /////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////

section.blackFrame{
    position: relative;
    width: 100%;
    height: 870px; 
    
    top: -140px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/src/img/background/backgroundWelcome.png');
        background-repeat: no-repeat;
        background-size: 104%;
        z-index: -1;
      }

        .titles{
            filter: brightness(1);
            position: absolute;
            font-size: 25px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 28.13%, rgba(0, 0, 0, 0.388049) 72.92%, rgba(0, 0, 0, 0) 100%);
mix-blend-mode: normal;
            top: 50%;
            transform: translateY(-50%);
            min-height: 230px;
            width: 100%;

            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            
            h1{
                width: 380px;
            }
            .welcomeLine{
                display: block;
                width: 2px;
                height: 106px;
                background-color: #D9D9D9;
                position: absolute
            }
            .marks{
                display: flex;
                gap: 20px;
            }
            
        }
        
}

////////////////////////////////
/// Essas duas classes fazem parte do banner mas 
/// ficaram fora das seções

button.viewShowroom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 31%;
}

.setaWelcomeShowroom{
    position: absolute;
    display: block;
    height: 360px;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

////////////////////////////////
////////////////////////////////
////////////////////////////////

section.currentStockDIV{
    position: relative;
    min-height: 870px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 60.42%, rgb(105 156 232 / 2%) 94.27%);
    background-blend-mode: exclusion;
    backdrop-filter: blur(80px);
    overflow: clip;
    padding-top: 130px;
    margin-top: -141px;

    .line{
        display: block;
        position: absolute;
        width: 2px;
        height: 2599px;
        background-color: white;
        z-index: -2;
        right: 1008px;
        top: -716px;
        transform: rotate(49deg);

        &:nth-child(2){
            transform: rotate(60deg);
        }
    }

    .titleDefault{
        margin-top: -27px;
    }
    .spliceSlide{
        margin: auto 10px;
    }
    
    .carSquare{
        width: 550px;
        margin: auto 10px;
        background: rgba(16, 16, 18, 0.81);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    
        .carImg{
            width: 500px;
            height: 268px;
            object-fit: cover;
        }
    }
    .exploreMore{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1.2);
        bottom: 18%;
    }
}

section.AboutUs{
    min-height: 1084px;
    position: relative;
    z-index: 0;

    background-image: url('src/img/background/backgroundBlur.png');
    background-position: center center;
    background-size: 180%;
    padding-top: 27px;

    .titleDefault{
        &::before{
            background: radial-gradient(50% 50% at 50% 50%, #6D0751 0%, rgba(109, 7, 81, 0) 100%);
            z-index: -1;
        }   
    }

    .content{
        justify-content: space-evenly;
    }
}

section.contactUs{
    min-height: 514px;
    background-color: rgba(74, 14, 72 , 0.72);
}

/////////
/// 
/// LOGIN PAGE
/// 
/// 
////////

.telaCompleta{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e5;
}

.quadradoLogin{
    display: flex;
    min-height: 130px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    // outline: 1px solid black;
    padding: 50px;
    font-family: sans-serif;


    .L{
        display: block;
        background-color: white;
        padding: 15px;
        padding-left: 35px;
        min-height: 220px;

        h1{
            margin-bottom: 55px;
        }
        p{
            color: #7c7c7c;
        }
    }
    .R{
        $textColorWhite: #c2c2c5;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #474A59;
        color: $textColorWhite;
        min-height: 260px;
        box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
        padding: 30px;

        label{
            font-size: 14px;
        }

        input{
            background-color: unset;
            border: none;
            border-bottom: 1px solid rgb(0, 132, 255);
            height: 20px;
            margin-bottom: 15px;
            color: white;


            &:focus{
                background-color: unset;
                outline: unset;
                color: white;
                transition: 1.4s all;
                border-bottom: 1px solid rgb(0, 153, 255);
            }

            
        }

        button{            
            background-color: unset;
            border: unset;
            margin: 0 auto;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $textColorWhite;
            border: 1px solid rgb(99, 99, 224);
            
            $paddingLR: 20px;
            $paddingTB: 10px; 
            padding-top: $paddingTB;
            padding-bottom: $paddingTB;
            padding-left: $paddingLR;            
            padding-right: $paddingLR;
        }
    }
}

