@font-face {
    font-family: Karla;
    src: url('fonts/karla_variable.ttf');
}

$mainColor: rgb(21, 23, 70);
$mainFont: 'Karla';


*{
    box-sizing: border-box;
    font-family: $mainFont, sans-serif;
    max-width: 100%;
}

span{
    display: block;
}

body{
    margin: 0;
}

div.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    & img{
        width: 82px;
    }
}



header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 137px;
    color: white;
    background-color: $mainColor;
    align-items: center;

    margin: 0;

    > *{
        margin: 0;
        padding: 0;
    }

    nav{
        ul{
            list-style: none;
            display: flex;
            gap: 40px;
        }
    }
}