@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  max-width: 100%;
}

span {
  display: block;
}

img {
  max-width: 100%;
}

html {
  background-color: #02112D;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

div.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}
div.logo img {
  height: 62px;
}
@media (min-width: 320px) {
  div.logo img {
    height: 52px;
  }
}
@media (min-width: 600px) {
  div.logo img {
    height: 62px;
  }
}
@media (min-width: 320px) {
  div.logo {
    padding-left: 5px;
  }
}
@media (min-width: 320px) {
  div.logo h1 {
    font-size: 16px;
    width: 100px;
  }
}
@media (min-width: 600px) {
  div.logo h1 {
    font-size: 2em;
    width: unset;
  }
}

a {
  text-decoration: none;
  color: unset;
}
a:visited {
  color: unset;
}

.mostrarNav {
  left: 0;
  transition: all 0.2s;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  z-index: 2;
  position: fixed;
  margin: 0;
}
@media (min-width: 0px) {
  header {
    height: 92px;
    background-color: rgba(0, 0, 0, 0.8509803922);
    align-items: center;
  }
}
@media (min-width: 768px) {
  header {
    height: 137px;
  }
}
@media (min-width: 1150px) {
  header {
    background: linear-gradient(180deg, rgba(6, 7, 20, 0.72) 0%, rgba(21, 23, 70, 0) 112.5%);
    flex-direction: row;
  }
}
header > * {
  margin: 0;
  padding: 0;
}
header span.menuIcon {
  content: url("/img/sfx/menuBar.png");
  width: 50px;
}
header span.menuIcon:hover {
  cursor: pointer;
}
@media (min-width: 320px) {
  header span.menuIcon {
    display: block;
  }
}
@media (min-width: 1150px) {
  header span.menuIcon {
    display: none;
  }
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.2s;
}
@media (min-width: 0px) {
  header nav {
    position: absolute;
    width: 100%;
    top: 92px;
    background-color: rgba(0, 0, 0, 0.8509803922);
    flex-direction: column;
    align-items: center;
    left: -100%;
  }
}
@media (min-width: 600px) {
  header nav {
    display: flex;
  }
}
@media (min-width: 768px) {
  header nav {
    top: 137px;
  }
}
@media (min-width: 1150px) {
  header nav {
    position: static;
    width: unset;
    top: unset;
    left: unset;
    background-color: unset;
    flex-direction: row;
  }
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: "Karla";
}
@media (min-width: 0px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    padding-left: 0;
  }
}
@media (min-width: 1150px) {
  header nav ul {
    padding-left: unset;
    flex-direction: row;
    align-items: unset;
  }
}
header nav ul li {
  position: relative;
}
header nav ul li::before {
  position: absolute;
  width: 100%;
  background-color: white;
  bottom: 0px;
  height: 0;
  transition: all 0.2s;
  content: "";
}
header nav ul li:hover::before {
  height: 1px;
  display: block;
  transition: all 0.2s;
}

.conta {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 0px) {
  .conta {
    left: unset;
    padding: 10px 0px;
  }
}
@media (min-width: 1150px) {
  .conta {
    left: 65px;
  }
}
.conta img {
  width: 35px;
  margin: 0;
  position: relative;
  margin-bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.conta h4 {
  margin: 0;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 180px;
  color: white;
  background: #02112D;
  align-items: center;
  z-index: 2;
  margin: 0;
}
footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Karla";
  text-align: center;
}
footer nav ul li {
  position: relative;
}
footer nav ul li::before {
  position: absolute;
  width: 0%;
  background-color: white;
  bottom: 0px;
  height: 1px;
  transition: all 0.2s;
  content: "";
}
footer nav ul li:hover::before {
  height: 1px;
  display: block;
  transition: all 0.2s;
  width: 100%;
}
footer .logo {
  transform: scale(0.9);
}

button.buttonDefault {
  display: block;
  background: rgba(0, 0, 0, 0.49);
  border: 1px solid rgba(236, 229, 240, 0.33);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #CCCCCC;
  padding: 8px 15px;
  transition: all 0.3s;
}
button.buttonDefault:hover {
  color: #eaeaea;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.175s;
  cursor: pointer;
  padding: 10px 17px;
}

.mark {
  height: 51.32px;
  transition: all 0.15s;
}
.mark:hover {
  transform: scale(1.2);
  transition: all 0.15s ease;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}

.titleDefault {
  text-align: center;
  font-size: 58px;
  position: relative;
}
.titleDefault::before {
  width: 100%;
  z-index: -1;
  display: block;
  content: "";
  height: 34px;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 82, 166, 0.76) 0%, rgba(109, 7, 81, 0) 100%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

section.blackFrame {
  position: relative;
  width: 100%;
  height: 870px;
}
@media (min-width: 320px) {
  section.blackFrame {
    height: 649px;
  }
}
@media (min-width: 1150px) {
  section.blackFrame {
    height: 870px;
  }
}
section.blackFrame h1 {
  font-size: 2.3em;
}
@media (min-width: 320px) {
  section.blackFrame h1 {
    height: 36px;
  }
}
@media (min-width: 600px) {
  section.blackFrame h1 {
    height: unset;
  }
}
@media (min-width: 0px) {
  section.blackFrame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/background/backgroundWelcome.webp");
    background-repeat: no-repeat;
    background-size: 244%;
    z-index: -1;
  }
}
@media (min-width: 320px) {
  section.blackFrame::before {
    background-size: 374%;
    background-position-x: -330px;
  }
}
@media (min-width: 600px) {
  section.blackFrame::before {
    background-size: 200%;
  }
}
@media (min-width: 1150px) {
  section.blackFrame::before {
    background-size: 104%;
    background-position-x: unset;
  }
}
@media (min-width: 0px) {
  section.blackFrame .titles {
    filter: brightness(1);
    position: absolute;
    font-size: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 28.13%, rgba(0, 0, 0, 0.65) 72.92%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: normal;
    top: 50%;
    transform: translateY(-50%);
    min-height: 440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 320px) {
  section.blackFrame .titles {
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  section.blackFrame .titles {
    flex-direction: row;
  }
}
section.blackFrame .titles h1 {
  width: 380px;
}
@media (min-width: 320px) {
  section.blackFrame .titles h1 {
    font-size: 36px;
  }
}
@media (min-width: 408px) {
  section.blackFrame .titles h1 {
    font-size: 33px;
  }
}
@media (min-width: 1150px) {
  section.blackFrame .titles h1 {
    font-size: 48px;
  }
}
section.blackFrame .titles .welcomeLine {
  display: block;
  width: 2px;
  height: 216px;
  background-color: #D9D9D9;
  position: absolute;
}
@media (min-width: 320px) {
  section.blackFrame .titles .welcomeLine {
    rotate: 90deg;
    height: 96px;
  }
}
@media (min-width: 1150px) {
  section.blackFrame .titles .welcomeLine {
    rotate: 0deg;
    height: 216px;
  }
}
@media screen and (min-width: 1920px) {
  section.blackFrame .titles .mark {
    height: 60px;
  }
}
section.blackFrame .titles .marks {
  display: flex;
  gap: 20px;
}
@media (min-width: 320px) {
  section.blackFrame .titles .marks {
    flex-wrap: wrap;
    scale: 0.9;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1150px) {
  section.blackFrame .titles .marks {
    flex-wrap: wrap;
    scale: unset;
    justify-content: unset;
  }
}

button.viewShowroom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 74%;
  z-index: 2;
}
@media (min-width: 320px) {
  button.viewShowroom {
    display: none;
  }
}
@media (min-width: 1150px) {
  button.viewShowroom {
    display: block;
  }
}
@media (min-width: 1366px) {
  button.viewShowroom {
    top: 78%;
  }
}
@media (min-width: 1440px) {
  button.viewShowroom {
    top: 70%;
  }
}
@media (min-width: 1920px) {
  button.viewShowroom {
    top: 60%;
  }
}
@media (min-width: 1920px) and (min-height: 960px) {
  button.viewShowroom {
    top: 67%;
  }
}

.divSetaWelcomeShowroom {
  position: absolute;
  display: block;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 300px;
}
@media (min-width: 320px) {
  .divSetaWelcomeShowroom {
    top: 480px;
  }
}
@media (min-width: 600px) {
  .divSetaWelcomeShowroom {
    top: 500px;
  }
}
@media (min-width: 1150px) {
  .divSetaWelcomeShowroom {
    top: 550px;
  }
}
@media (min-width: 1366px) {
  .divSetaWelcomeShowroom {
    top: 640px;
  }
}
@media (min-width: 1440px) {
  .divSetaWelcomeShowroom {
    top: 680px;
  }
}
@media (min-width: 1920px) {
  .divSetaWelcomeShowroom {
    top: 720px;
  }
}

.setaWelcomeShowroom {
  height: 300px;
}

section.currentStockDIV {
  position: relative;
  min-height: 870px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 60.42%, rgba(105, 156, 232, 0.02) 94.27%);
  background-blend-mode: exclusion;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  overflow: clip;
  padding-top: 130px;
}
@media (min-width: 320px) {
  section.currentStockDIV {
    min-height: 715px;
  }
}
@media (min-width: 600px) {
  section.currentStockDIV {
    min-height: 870px;
  }
}
section.currentStockDIV .line {
  display: block;
  position: absolute;
  width: 2px;
  height: 2599px;
  background-color: white;
  z-index: -2;
  right: 1008px;
  top: -716px;
  transform: rotate(49deg);
}
section.currentStockDIV .line:nth-child(2) {
  transform: rotate(60deg);
}
section.currentStockDIV .titleDefault {
  margin-top: -27px;
}
@media (min-width: 320px) {
  section.currentStockDIV .titleDefault {
    margin-top: -57px;
    font-size: 26px;
    margin-bottom: 35px;
  }
}
@media (min-width: 600px) {
  section.currentStockDIV .titleDefault {
    margin-top: -27px;
    font-size: 58px;
    margin-bottom: 35px;
  }
}
section.currentStockDIV .spliceSlide {
  margin: auto 10px;
}
section.currentStockDIV .carSquare {
  width: 550px;
  margin: auto 10px;
  background: rgba(16, 16, 18, 0.81);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
section.currentStockDIV .carSquare .carImg {
  width: 500px;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.currentStockDIV .exploreMore {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  bottom: 18%;
}
@media (min-width: 320px) {
  section.currentStockDIV .exploreMore {
    bottom: 7%;
  }
}
@media (min-width: 600px) {
  section.currentStockDIV .exploreMore {
    bottom: 18%;
  }
}

section.AboutUs {
  min-height: 950px;
  position: relative;
  z-index: 0;
  background-image: url("/img/background/backgroundBlur.webp");
  background-position: center center;
  background-size: 180%;
  padding-top: 27px;
}
section.AboutUs .titleDefault {
  margin-bottom: 96px;
}
section.AboutUs .titleDefault::before {
  background: radial-gradient(50% 50% at 50% 50%, #6D0751 0%, rgba(109, 7, 81, 0) 100%);
  z-index: -1;
}
section.AboutUs .content {
  text-align: center;
  justify-content: center;
  gap: 100px;
}
section.AboutUs .content .L, section.AboutUs .content .R {
  width: 500px;
}
section.AboutUs .content .aboutUsImg {
  width: 503px;
  border-radius: 15px;
}
section.AboutUs .content .weAreTopmark {
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-top: -14px;
}
section.AboutUs .content p {
  font-weight: 200;
  letter-spacing: 0.6px;
}
@media (min-width: 320px) {
  section.AboutUs .content {
    flex-direction: column;
    padding: 0px 10px;
    gap: 20px;
  }
}
@media (min-width: 600px) {
  section.AboutUs .content {
    flex-direction: row;
    padding: 0px 20px;
    gap: 100px;
  }
}
@media (min-width: 320px) {
  section.AboutUs .content.flex {
    align-items: center;
  }
}
@media (min-width: 1150px) {
  section.AboutUs .content.flex {
    align-items: unset;
  }
}
section.AboutUs .setaDireita {
  background-image: url("/img/sfx/setaAboutUs.webp");
  width: 1290px;
  display: block;
  position: relative;
  top: 100px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 320px) {
  section.AboutUs .setaDireita {
    display: none;
  }
}
@media (min-width: 720px) {
  section.AboutUs .setaDireita {
    display: block;
  }
}

section.contactUs {
  min-height: 444px;
  background-color: rgba(74, 14, 72, 0.72);
  padding-top: 70px;
}
section.contactUs h2.titleDefault {
  margin-top: 0;
}
section.contactUs h2.titleDefault::before {
  background: none;
}
@media (min-width: 320px) {
  section.contactUs h2.titleDefault {
    font-size: 36px;
  }
}
@media (min-width: 600px) {
  section.contactUs h2.titleDefault {
    font-size: 58px;
  }
}
@media (min-width: 320px) {
  section.contactUs h3 {
    font-size: 15px;
    word-break: break-all;
  }
}
@media (min-width: 600px) {
  section.contactUs h3 {
    font-size: initial;
  }
}
section.contactUs .phoneIcon, section.contactUs .emailIcon, section.contactUs .addressIcon {
  height: 27px;
}
section.contactUs .emailIcon {
  height: 32px;
}
section.contactUs .addressIcon {
  height: 39px;
}
section.contactUs img {
  max-width: 100%;
}
section.contactUs .contactInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section.contactUs .flex {
  gap: 25px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}
@media (min-width: 320px) {
  section.contactUs .flex {
    gap: 5px;
    padding: 0px 41px;
  }
}
@media (min-width: 600px) {
  section.contactUs .flex {
    gap: 25px;
    padding: initial;
  }
}

section.login .telaCompleta {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e5;
}
section.login .quadradoLogin {
  display: flex;
  min-height: 130px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  font-family: sans-serif;
}
section.login .quadradoLogin .L {
  position: relative;
  display: block;
  background-color: white;
  padding: 15px;
  padding-left: 35px;
  min-height: 220px;
}
section.login .quadradoLogin .L h1 {
  margin-bottom: 55px;
}
section.login .quadradoLogin .L p {
  color: #7c7c7c;
  position: relative;
  top: 104px;
}
section.login .quadradoLogin .L img {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
section.login .quadradoLogin .R {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #474A59;
  color: #c2c2c5;
  min-height: 260px;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  padding: 30px;
}
section.login .quadradoLogin .R label {
  font-size: 14px;
}
section.login .quadradoLogin .R input {
  background-color: unset;
  border: none;
  border-bottom: 1px solid rgb(0, 132, 255);
  height: 20px;
  margin-bottom: 15px;
  color: white;
}
section.login .quadradoLogin .R input:focus {
  background-color: unset;
  outline: unset;
  color: white;
  transition: 1.4s all;
  border-bottom: 1px solid rgb(0, 153, 255);
}
section.login .quadradoLogin .R button {
  background-color: unset;
  border: unset;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c2c5;
  border: 1px solid rgb(99, 99, 224);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

section.dashboard {
  min-height: 820px;
  display: block;
  background-color: white;
  position: relative;
  top: 135px;
  padding-top: 50px;
}
section.dashboard aside {
  display: block;
  color: black;
  position: absolute;
  left: 0;
}
section.dashboard div.dashboardActions {
  display: flex;
  justify-content: center;
  gap: 80px;
}
section.dashboard div.dashboardActions article.dashboardAction {
  display: flex;
  background-color: wheat;
  height: 250px;
  width: 380px;
  justify-content: center;
  align-items: center;
  color: #02112D;
}